<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search By Email</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/email" method="post">
          <input name="email" type="text" class="ghost-input" placeholder="Enter Email Address" required>
          <input type="submit" class="ghost-button" value="Get Data">
        </form>
        <% if(emailData !== null){ %>
          <p><%= emailData %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>